In [26]:
%matplotlib inline 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
train_data = pd.read_csv('Data/train_data.csv',index_col='index').reset_index() 
train_data.drop(columns='index',inplace=True) 
train_data.head()

,keyword,text,target
0,emergency%20services,Goulburn man Henry Van Bilsen missing: Emergen...,1
1,fear,The things we fear most in organizations--fluc...,0
2,tsunami,@tsunami_esh ?? hey Esh,0
3,drown,@POTUS you until you drown by water entering t...,0
4,wounds,Crawling in my skin\nThese wounds they will no...,1

Treating letters case and ponctuation

In [35]:
train_data['text'] = train_data['text'].str.replace('\W',' ')
train_data['text'] = train_data['text'].str.lower()

/tmp/ipykernel_42792/2207780189.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['text'] = train_data['text'].str.replace('\W',' ')

In [36]:
train_data.head()

,keyword,text,target
0,emergency%20services,goulburn man henry van bilsen missing emergen...,1
1,fear,the things we fear most in organizations fluc...,0
2,tsunami,tsunami_esh hey esh,0
3,drown,potus you until you drown by water entering t...,0
4,wounds,crawling in my skin these wounds they will not...,1

Splitting our text and adding to our dict

In [37]:
train_data['text'] = train_data['text'].str.split() 
print(train_data['text'])

0       [goulburn, man, henry, van, bilsen, missing, e...
1       [the, things, we, fear, most, in, organization...
2                                 [tsunami_esh, hey, esh]
3       [potus, you, until, you, drown, by, water, ent...
4       [crawling, in, my, skin, these, wounds, they, ...
                              ...
6085              [justinbieber, arianagrande, screaming]
6086    [how, to, survive, in, the, markets, http, t, ...
6087    [look, at, them, ayhoka_, co, happy, bn, too, ...
6088    [waseembadami, condemning, of, deaths, more, t...
6089    [thelegendblue, cozmo23, they, ll, probably, a...
Name: text, Length: 6090, dtype: object

In [43]:
remove_small_words = lambda l : [ i for i in l if len(i)>3 or i == 'die']

In [44]:
remove_small_words(train_data['text'].values.tolist()[0])

['goulburn',
 'henry',
 'bilsen',
 'missing',
 'emergency',
 'services',
 'searching',
 'goulburn',
 'disappeared',
 'from',
 'http',
 'z99pkjztrp']

In [47]:
train_data['text'] = train_data['text'].apply(remove_small_words)

In [52]:
vocabulary= [ w for txt in train_data['text'].values.tolist() for w in txt]

Counting words

In [53]:
word_counts = { unique_word: [0]*len(train_data['text']) for unique_word in vocabulary}

In [55]:
for index, txt in enumerate(train_data['text']):
    for word in txt:
        word_counts[word][index] += 1

In [57]:
word_counts = pd.DataFrame(word_counts)